{% extends "top_bar_base_template.html" %}
{% block title %}
    Risultati della ricerca
{% endblock %}

{% block style %}
    #auction_detail {
        height:100%;
        position:relative;
        font-size:18px;
    }
    #left_panel {
        padding: 1%;
        margin: 2% 0% 2% 5%;
        float: left;
        height: 350px;
        width: 400px;
        text-align: center;
        background: url('../../../media/static_images/brown_wood.jpeg');
        background-size: 100% 100%;
    }
    #right_panel {
        padding: 3%;
        margin: 4% 2% 2% 4%;
        float: left;
        height: 70%;
        width: 50%;
    }
    #user_data {
        height: 55%;
        width: 70%;
        margin:1% 1% 1% 5%;
        text-align: center;
    }
    #description {
        padding: 4%;
        height:36%;
        width: 62%;
        margin:4% 1% 1% 8%;
        background-color: #EAF6F8;
        overflow-y: scroll;
    }
    #error_message {
        color: white;
        background-color: red;
    }
    #success_message {
        background-color: green;
    }
{% endblock %}
{% block bodystyle %}
    background: url('../../../media/static_images/white_wallpaper_3_exp.png');
    background-size: 100% 100%;
{% endblock %}
{% block body %}
<div id='auction_detail'>
    <div id='left_panel'>
        <img src={{ auction.image.url }} style='height:350px; width:400px;'> <br>
    </div>
    <div id='right_panel'>
        <div id='user_data'>
        {% if error_message %}
            <div id=error_message> {{ error_message}} </div>
        {% endif %}
        {% if success_message %}
        <div id=success_message> {{ success_message }} </div>
        {% endif %}
        <span style='font-weight:bold'> Title: {{ auction.title }} </span><br>
        <!-- Conto del tempo mancante tramite JavaScript -->
        Time left:
        {% if auction.active %}
            <span class='time_left_span' style='color:blue'></span>
        {% else %}
            Expired.
        {% endif %}
        <br>
        Current price: <span style = 'font-weight:bold'>{{ auction.current_price }} </span><br>
        Minimum bid: {{ auction.min_bid }} <br>
        <form method=POST>
            {% csrf_token %}
            <input type="number" name="bid_value" step={{ auction.min_bid }}

            value={{ auction.current_price }}>
            <input type="submit" name="make_bid"
            value="Bid">
        </form>
        Bids: {{ auction.bid_count }} &nbsp&nbsp
        Last_bid_user:
        {% if auction.last_bid_user != None %}
        <a href='{% url 'webauction:profile' searched_username=auction.last_bid_user.username %}'>
            {{ auction.last_bid_user }} </a> <br>
        {% else %}
            None <br>
        {% endif %}
        <br>
        <span style='font-weight:bold'> Seller details </span>
        Seller:
        <a href='{% url 'webauction:profile' searched_username=auction.seller.username %}'>
            {{ auction.seller.username }} </a> <br>
        Reliability: {{ sellerProfile.feedback }} % <br>
        Seller sold number: {{ sellerProfile.sold_auction }} <br>
        </div>
        <div id='description'>
        Description: <br>
        {{ auction.description}} <br>
        </div>
    </div>
</div>

{% if auction.active %}
<!-- Questo script va in fondo perchè ha bisogno dei dati caricati prima -->
<script id='time_left' difference_seconds={{ time_diff_seconds }}>
    var time_left_span = document.getElementsByClassName('time_left_span');
    time_left_span[0].innerHTML = 'ciao' ;
    /* ps. notare che se l'utente cambia l'orologio del proprio pc, risulta
    solamente in una scorretta visualizzazione senza influenzare in nessuna
    maniera il browser */

    /* Calculating difference */
    var script = document.getElementById('time_left');
    diff = script.getAttribute('difference_seconds');
    var check = function(){
        if(diff != 0){
            days = Math.floor(diff/(3600*24));
            hours = Math.floor((diff%(3600*24))/3600);
            minutes = Math.floor((diff%(3600*24))%3600/60);
            seconds = Math.floor(((diff%(3600*24))%3600)%60);
            time_left_span[0].innerHTML = 'd'+days+' h'+hours+' m'+minutes+' s'+seconds;
            diff -= 1
            setTimeout(check, 1000); // check again in a second
        }
    }
    check();

</script>
{% endif %}

{% endblock %}
