{% extends "top_bar_base_template.html" %}
{% block title %}
    Make new auction
{% endblock %}
{% block style %}
        #auction_data {
            margin: 0% 36% 0% 32% ;
            padding: 3%;
            width: 35%;
            height: 85%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: white;
        }
        #auction_header {
            height: 10%;
            text-align: center;
            background-color: #fffac7;
        }
        #auction_top_data {
            padding: 1%;
            margin: 0% 15%;
            width:75%;

            text-align: left;

        }
        #auction_bottom_data {
            padding: 1%;
            width: 95%;
            text-align: center;
        }
{% endblock %}
{% block background %}
    background: url('../../../media/static_images/auction_background.jpeg');
    background-size: 100% 100%;
{% endblock %}
{% block body %}
<div id='auction_data'>
    <div id=auction_header>
    WARNING: Once is published it cannot be modified.
    But can be canceled<br>
    {% if error_message %}
        <p style='background-color:red'>
            Something gone wrong {{error_message}}
        </p>
    {% endif %}
    </div>
    <br><br>
    <form enctype="multipart/form-data" method='POST'>
    <div id=auction_top_data>
            {% csrf_token %}
            Title: {{ form.title }} <br><br>
            Duration DD/HH/MM :
            <input type='numeric' name='days'
                min=0 max=10 step=1 size=1 value=1 required>
            <input type='numeric' name='hours'
                min=0 max=23 step=1 size=1 value=0 required>
            <input type='numeric' name='minutes'
                min=0 max=59 step=1 size=1 value=0 required>
            <br><br>
            Minimum price: {{ form.min_price }} <br><br>
            Minimum bid: {{ form.min_bid }} <br><br>
            Image: {{ form.image }} <br><br>
            Category: {{ form.category }} <br>
    </div>
    <br>
    <br>
    <div id=auction_bottom_data>
            Description: <br> {{ form.description }} <br>
            <input type='submit' value='Insert'/>
    </div>
    </form>
</div>
{% endblock %}
