{% extends 'top_bar_base_template.html' %}
{% block title %}
    {{ userProfile.user.username }} profile
{% endblock %}
{% block style %}
    #profile {
        margin: 2% 2% 0 2%;
        padding: 1% 1% 1% 1%;
        float: left;
        height: 85%;
        max-width: 40%;
        border: 5px;

        color: white;
        background: url('../../../media/static_images/presentation_card.jpg');
        background-size: 100% 100%;

        overflow:hidden;
    }
    #upper {
        padding: 1%;
        height: 50%;
    }
    #profile_picture {
        margin: 0% 2% 2% 2% ;
        height:100%;
        width:30%;
        float: left;
    }
    #profile_data {
        margin: 1% 1% 1% 1%;
        padding-left: 40%;

    }
    #lower {
        margin: 7% 11% 0% 3%;
        text-align: center;
        background-color: blue;
    }
    #auction_data {
        margin: 2% 2% 0 2%;
        padding: 5%;
        min-width: 35%;
        height: 65%;
        float: left;
        background: transparent url('../../../media/static_images/note.png');
        background-size: 100% 100%;
    }
{% endblock %}
{% block background %}
    background: url('../../../media/static_images/white_wood.jpg');
    background-size: 100% 100%;
{% endblock %}
{% block body %}
<div id=profile>
    <p style='background-color:#66ff99'>
        {% if notification %}
            {{ notification }}
        {% endif %}
    </p>
    <p style='background-color:red'>
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </p>
    <div id=upper>
    <div id=profile_picture>
        <img src={{ userProfile.profile_pic.url }} style='height:220px; width:160px;'>
    </div>
    <div id=profile_data>
        <!-- Generalità -->
        Username: {{ userProfile.user.username }} <br>
        Email: {{ userProfile.user.email }} <br>
        {% comment %}
        quando si sarà fatto anche la vendita effettiva vale la pena mettere anche un purchased item num
        il feedback serve sia agli acquirenti che ai venditori!
        Sold number {% sold_item_num %}
        {% endcomment %}
        Reliability {{ userProfile.feedback }} % <br>

        <!-- Premium activation -->
        {% if request.user == userProfile.user %}
            Premium:
            {% if not userProfile.premium %}
                No &nbsp <br>
                <form method='POST'>
                    {% csrf_token %}
                    <input type='submit' name='get_premium' value='Get Premium'>
                </form>
                Auction tokens: {{ userProfile.auction_count}}
            {% else %}
                Yes
            {% endif %}
        {% endif %}

        <!-- Descrizione -->
        {% if request.user == userProfile.user %}
            <textarea style='resize:none; background-color:c6edab; overflow-y:scroll'
                rows=2 cols=30 name='description' form='desc_form'>
                {{ userProfile.description }}
            </textarea>
            <form id='desc_form' method='POST'>
                {% csrf_token %}
                <input type='submit' name='update_desc' value='Update your description'>
            </form>
        {% else %}
            descrizione:
                {{ request.user.descrizione}}
        {% endif %}

        <!-- Caricamento immagine -->
        {% if request.user == userProfile.user %}
            <form enctype="multipart/form-data" method='POST'>
                {% csrf_token %}
                <input type='file' accept='.png, .jpg, .jpeg' name='update_pic' required/> <br>
                <input type='submit' name='update_img' value='Update image'>
            </form>
        {% endif %}

        <!-- Richiesta amicizia -->
        {% if request.user != userProfile.user %}
            {% if alreadySentForward %}
                Request pending.
            {% elif alreadySentBack %}
                Request already sent to you.
            {% else %}
                <form method='POST'>
                    {% csrf_token %}
                    <input type='submit' name='friend_request' value='Add to friend list'>
                </form>
            {% endif %}
        {% endif %}
    </div>

      <div style="clear:both;"></div>
    </div>
    <div id=lower>
        COMMENTI COMEMNTI COMMENTI COMEMNTI
        COMMENTI COMEMNTI
        COMMENTI COMEMN
    </div>
</div>
<div id=auction_data>
        <h3> Active auctions:<br> </h3>
        {% for auction in activeAuctions %}
            <li>
                <a href='{% url 'webauction:detail' auction.id %}'>
                    {{ auction.title }}
                </a>
            </li>
        {% endfor %}
</div>
{% endblock %}
