{% extends 'top_bar_base_template.html' %}
{% block title %}
    {{ userProfile.user.username }} profile
{% endblock %}
{% block scripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% load chartit %}
    {% if chart_expired != None and chart_won == None %}
        {{ charts|load_charts:"sold_chart"}}
    {% elif chart_expired == None and chart_won != None %}
        {{ charts|load_charts:"won_chart"}}
    {% elif chart_expired != None and chart_won != None %}
        {{ charts|load_charts:"sold_chart, won_chart"}}
    {% else %}
        <!-- Nothing is gonna be loaded -->
    {% endif %}
    {% comment %}
    {% endcomment %}
{% endblock %}
{% block style %}
    #profile {
        margin: 2% 2% 0 2%;
        padding: 1% 1% 1% 1%;
        float: left;
        height: 85%;
        width: 40%;
        border: 5px;

        color: white;
        background: url('../../../media/static_images/presentation_card.jpg');
        background-size: 100% 100%;

        overflow:hidden;
    }
    #upper {
        padding: 1%;
        height: 50%;
    }
    #profile_picture {
        margin: 0% 2% 2% 2% ;
        height:100%;
        width:30%;
        float: left;
    }
    #profile_data {
        margin: 1% 1% 1% 1%;
        padding-left: 40%;
    }
    #lower {
        margin: 7% 11% 0% 3%;
        height: 30%;
        text-align: center;
        color: #0e895f;
        background-color: #67eec1;
    }
    #all_votes {
        min-height: 60%;
        max-height: 85%;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #67eec1;
    }
    #all_votes div {
        height:50px;
        padding-top:1%;
        margin-top:1%;
        background-color: #a9f6dc;
    }
    #new_vote {
        height: 40px;
        background-color: #a9f6dc;
    }
    #new_vote textarea, input {
        vertical-align:middle;
        font-family: "Arial Black", Gadget, sans-serif
        font-size: 10px;
    }
    #container_auction_data {
        margin: 2% 2% 2% 2%;
        padding: 5% 3% 5% 3% ;
        width: 40%;
        height: 65%;
        float: left;
        background: transparent url('../../../media/static_images/note.png');
        background-size: 100% 100%;
    }
    #auction_data {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
    }
    .history {
        margin-top:3%;
        height:20%;
        overflow-y: auto;
        overflow-x: auto;
    }
{% endblock %}
{% block bodystyle %}
    background: url('../../../media/static_images/white_wood.jpg');
    background-size: 100% 100%;
{% endblock %}
{% block body %}
<div id=profile>
    <span style='background-color:#66ff99; '>
        {% if notification %}
            {{ notification }}
        {% endif %}
    </span>
    <span style='background-color:red;'>
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </span>
    <div id=upper>
    <div id=profile_picture>
        <img src={{ userProfile.profile_pic.url }} style='height:220px; width:160px;'>
    </div>
    <div id=profile_data>
        Username: {{ userProfile.user.username }} <br>
        Email: {{ userProfile.user.email }} <br>
        Sold number: {{ userProfile.sold_auction }}
        Feedback: {{ userProfile.feedback }} % <br>

        {% if request.user == userProfile.user %}
            Premium:
            {% if not userProfile.premium %}
                No
                <form method='POST'>
                    {% csrf_token %}
                    <input type='submit' name='get_premium' value='Get Premium'>
                </form>
                Auction tokens: {{ userProfile.auction_count}}
            {% else %}
                Yes
            {% endif %}
        {% endif %}

        {% if request.user == userProfile.user %}
            <textarea style='resize:none; background-color:c6edab; overflow-y:scroll'
                rows=2 cols=30 name='description' form='desc_form'>
                {{ userProfile.description }}
            </textarea>
            <form id='desc_form' method='POST'>
                {% csrf_token %}
                <input type='submit' name='update_desc' value='Update your description'>
            </form>
        {% else %}
            Descrizione: <br>
                {{ request.user.descrizione}} <br>
        {% endif %}

        {% if request.user == userProfile.user %}
            <form enctype="multipart/form-data" method='POST'>
                {% csrf_token %}
                <input type='file' accept='.png, .jpg, .jpeg' name='update_pic' required/> <br>
                <input type='submit' name='update_img' value='Update image'>
            </form>
        {% endif %}

        {% if request.user != userProfile.user %}
            Friendship:
            {% if alreadySentForward %}
                Already friend or request pending.
            {% elif alreadySentBack %}
                Already friend or request sent to you.
            {% else %}
                <form method='POST'>
                    {% csrf_token %}
                    <input type='submit' name='friend_request' value='Add to friend list'>
                </form>
            {% endif %}
        {% endif %}
    </div>

      <div style="clear:both;"></div>
    </div>
    <div id=lower>
        <div id=all_votes>
        {% for vote in all_votes %}
            <div>
                {{ vote.sender }} : {{ vote.message }} - {{ vote.rating }} / 5 <br>
                {{ vote.datetime }}
            </div>
        {% endfor %}
        </div>
        {% if request.user != userProfile.user and not voteExists %}
        <div id=new_vote>

        <form id='vote_form' method='POST'>
            {% csrf_token %}
            <textarea style='resize:none;' rows=1 cols=40 name='rateMessage'
                maxlength=100 form='vote_form'></textarea>
            <input type='hidden' name='username_chat_with'
                    value={{ user_chat_with.username }} required>
            <select name="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <input type='submit' name='new_vote' value='Vote'>
        </form>
        </div>
        {% endif %}
    </div>
</div>
<div id=container_auction_data>
<div id=auction_data>
        <h3> Following auctions: </h3>
        {% for followed in followedAuctions %}
            <li>
                <a href='{% url 'webauction:detail' followed.auction.id %}'>
                    {{ followed.auction.title }}
                </a>
                {% if followed.outBiddedBy == None %}
                <span style='color:green'>    --- You're ahead. </span>
                {% else %}
                <span style='color:red'>   --- Out bidded by {{ followed.outBiddedBy }} </span>
                {% endif %}
            </li>
        {% endfor %}
        <h3> Active auctions: </h3>
        {% for auction in activeAuctions %}
            <li>
                <a href='{% url 'webauction:detail' auction.id %}'>
                    {{ auction.title }}
                </a>
                --- Current price: {{ auction.current_price }}
            </li>
        {% endfor %}
        <h3> Sold auction history </h3>


        {% if chart_expired != None  %}
            <div id='sold_chart'></div>
        {% else %}
            No expired auctions.
        {% endif %}
        <div class="history">
            {% for auction in sorted_sold_auction %}
                <li>
                    <a href='{% url 'webauction:detail' auction.id %}'>
                        {{ auction.title }}
                    </a> won by {{ auction.last_bid_user }}
                </li>
            {% endfor %}
        </div>

        {% if request.user == userProfile.user %}
        <h3> Won auction history </h3>
            {% if chart_won != None %}
                <div id='won_chart'></div>
            {% else %}
                Never won any auction.
            {% endif %}
        <div class="history">
            {% for auction in sorted_won_auction %}
            <li>
                You've won <a href='{% url 'webauction:detail' auction.id %}'>
                    {{ auction.title }}
                </a> 's auction.
            </li>
            {% endfor %}
        </div>
        {% endif %}
</div>
</div>
{% endblock %}
