{% extends "top_bar_base_template.html" %}
{% block title %}
    Messenger
{% endblock %}
{% block style %}
    #whole {
        margin-top:5%;
        width:88%;
        height:88%;
        background: url('../../../media/static_images/ipad_cam_messenger.png');
        background-size: 100% 100%;
    }
    #left_bar {
        padding: 3%;
        margin: 4% 1% 2% 20%;
        width: 15%;
        height: 60%;
        float: left;
        background-color: blue;
    }
    #left_bar div {
        margin-top: 12%;
    }
    #right_bar {
        padding: 3%;
        margin: 4% 2% 0% 0%;
        width: 30%;
        height: 60%;
        float: left;
        background-color: green;
    }
    #messages {
        height: 45%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        background-color: #a1cbf3;
    }
    .sent_message {
        margin-top: 1px;
        margin-bottom: 1px;
        height: 60px;
        width: 100%;
        background-color: white;
    }
    .received_message {
        margin-top: 1px;
        margin-bottom: 1px;
        height: 60px;
        width: 100%;
        background-color: #a3f8a6;
    }
{% endblock %}
{% block bodystyle %}
    background: url('../../../media/static_images/messenger_background.jpg');
    background-size: 100% 100%;
    overflow: hidden;
{% endblock %}
{% block body %}
<div id=whole>
    <div id=left_bar>
        <div>
        <p style='background-color:green'>
            {% if left_notification %}
                {{ left_notification }}
            {% endif %}
        </p>
        <form action="{% url 'messenger:search_user' %}" method='GET'>
            <input type='text' name='keywords' size=20/>
            <input type='submit' value='search user'/>
        </form>
        <br>
        Pending requests <br>
        {% for request in friendRequests %}
            <li>
                <form method='POST'>
                    {% csrf_token %}
                    {{ request.friend_of.username }}
                    <input type='hidden' name='accept_user'
                        value={{ request.friend_of.username }}>
                    <input type='submit' name='accept' value='Add me'>
                </form>
            </li>
        {% endfor %}
        <br> Friends: <br>
        {% for tuple in friends_plus_profile %}
            <div>
                <form method='POST'>
                    {% csrf_token %}
                    <img src={{ tuple.1.profile_pic.url }}
                    style='height:35px; width:35px'>
                    <input type='hidden' name='user_chat'
                        value={{ tuple.0.username }}>
                    <input type='submit' name='chat' value={{ tuple.0.username }}>
                </form>
            </div>
        {% endfor %}
    <br>Num friends: {{ numFriends }}
    </div>
    </div>
    <div id='right_bar'>
        Chat with {{ user_chat_with.username }} <br><br>
        {% if chat_selected %}
        <div id='messages'>
            {% for mess in messages %}
                {% if mess.sender == user_chat_with %}
                <div class=sent_message>
                    {{ mess.message }} - {{ mess.datetime}}
                </div><br>
                {% else %}
                <div class=received_message>
                    {{ mess.message }} - {{ mess.datetime}}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <textarea style='resize:none' rows=6 cols=50 name='messageToBeSent'
                                    maxlength=1000 form='mess_form'>
        </textarea>
        <form id='mess_form' method='POST'>
            {% csrf_token %}
            <input type='hidden' name='username_chat_with' value={{ user_chat_with.username }}>
            <input type='submit' name='new_message' value='Send message'>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
