{% extends "top_bar_base_template.html" %}
{% block title %}
    Risultati della ricerca
{% endblock %}
{% block style %}
    #search_bar {
        position: fixed;
        padding: 10px 10px 0px 10px;
        width: 100%;
        height: 45px;

        background-color: #c3ffcd;
        color: black;
        z-index: 2;
    }
    #result {
        margin-top: 65px;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: thick;
    }
    .single_result {
        margin-left: 3%;
        padding: 1%;
        width: 90%;
        height: 30%;
        border: 1px solid black;
        background-color: #a1cbf3;
        color: white;

    }
    .left {
        width: 20%;
        height: 100%;
        float: left;
    }
    .right {
        margin-top: 2%;
        width: 80%;
        height: 100%;
        float: left;
    }
{% endblock %}
{% block bodystyle %}
    background: url('../../../media/static_images/white_wood.jpg');
    background-size: 100% 100%;
    overflow-x: auto;
    overflow-y: scroll;
{% endblock %}
{% block body %}
<div id=search_bar>
    <form method='GET'>
        <input type='text' name='keywords' required/>
        <input type='submit' value='search user'/>
    </form>
</div>
<div id=result>
    {% for userProfile in matching_user_list %}
    <div class=single_result>
    <div class=left>
            <a href='{% url 'webauction:profile' searched_username=userProfile.user.username %}'>
                <img src={{ userProfile.profile_pic.url}} height=150 width=150>
            </a>
    </div>
    <div class=right>
            Username : {{ userProfile.user.username }} <br><br>
            Description: {{ userProfile.description }} <br>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
